*{
    box-sizing: border-box;
}
body{
    display:flex;
    color: rebeccapurple;
    font-size: large;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin: 0;
    min-height: 100vh;


}

.heart{
    position: fixed;
    top:-1vh;
    font-size: 2rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;

}



@keyframes fall {
    to{
        transform: translateY(105vh);
    }
}